.novo-remedio h2{
    text-align: center;
    margin-bottom: 2rem;

}

form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 30px;
    padding: 2rem 1rem;

}

.containerform{
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.containerform label{
 margin-bottom: 0.5rem;
}

.containerform input,
.containerform textarea{
   padding: .5rem;
   border: 2px solid black;
   border-radius: 5px;
}

.btn{
    padding: 1rem;
    border-radius: 15px;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    
}
.btn:hover{
    transition: 0.5s;
    background-image: linear-gradient( 109.6deg, rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    font-weight: bold;

}