.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 45px;
    max-width: 100%;
    margin: 2rem 2rem;
    padding: 3rem;
    
}
 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
 }
 h1{
    font-weight: 800;
    margin:auto;
 }

.remedio{
    display: grid;
    width: 330px;
    background:  #ffff;
    border: 3px solid #b3b1b1;
    height: 350px;
    padding: 1rem;
    box-shadow: 2px 2px 16px 0px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;

}
.content{
    display: flex;
    margin-top: auto;
}
.qnt{
    display: flex; 
    
}

.descrição{
    position: relative;
    top:10px;
}

.LerMais{
    position:relative;
    top:10px;
    background-color: #068a13;
    color: rgb(0, 0, 0);
    border: 1px solid #04b016;
    border-radius: 10px;
    opacity: 1;
    padding: 0.5rem 1rem;
    max-width: 90px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}


.EditDelete{
    display: flex;
    height: 0;
    margin-left: 160px;
    margin-top: 18px;
    gap: 10px;
}

.Editar{
    cursor: pointer;
}
.Deletar{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
 .grid {
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 10px;
 }
 .container{
    
    font-size: 5px;
    align-items: center;
 }
 .remedio{
    justify-content: center;
    width: 200px;
    height: 160px;
    gap: 10px;
 }
 .remedio h1{
    max-width: 200px;
    font-size: 1rem;
 }
 .descrição{
    position: relative;
    left: 60px;
    font-size: 10px;
 }
 .LerMais{
    position: relative;
    left: 50px;
    top: 23px;
    font-size: 10px;
    font-weight: 800;
    width: 65px;
    height: 17px;
    max-width: 200px;
    max-height: 500px;
    
    
 }
 .EditDelete{
    position: relative;
    right: 50px;
    top: 10px;
    gap: 20px;
 }
 .Editar{
    width: 18px;
 }
 .Deletar{
    width: 15px;
 }
}



